
.core
{
  background: #606060;
}

.top_block
{
  width: 80%;
  height: 15%;
  margin: 1% auto;
  border-top-left-radius : 10px 10px;
  border-top-right-radius: 10px 10px;
  border-bottom-left-radius : 10px 10px;
  border-bottom-right-radius: 10px 10px;
  box-shadow: 15px 15px 20px black;
  background:#8f8f8f;
}

.top_block_left
{
  width: 50%;
  height: 100%;
  float: left;
}

.top_block_middle
{
  width: 45%;
  height : 100%;
  float: left;
}

.top_block_right
{
  width: 5%;
  height: 100%;
  float: right;
}

.left_block
{
  width: 11%;
  height: 40%;
  border-top-left-radius : 10px 10px;
  border-top-right-radius: 10px 10px;
  border-bottom-left-radius : 10px 10px;
  border-bottom-right-radius: 10px 10px;
  box-shadow: 15px 15px 20px black;
  margin-left: 12%;
  margin-right: 2%;
  background:#8f8f8f;
  float: left;
}

.middle_block
{
  width: 50%;
  height: 55%;
  border-top-left-radius : 10px 10px;
  border-top-right-radius: 10px 10px;
  border-bottom-left-radius : 10px 10px;
  border-bottom-right-radius: 10px 10px;
  box-shadow: 15px 15px 20px black;
  background:#8f8f8f;
  float: left;
}

.right_block
{
  width: 11%;
  height: 40%;
  border-top-left-radius : 10px 10px;
  border-top-right-radius: 10px 10px;
  border-bottom-left-radius : 10px 10px;
  border-bottom-right-radius: 10px 10px;
  box-shadow: 15px 15px 20px black;
  background:#8f8f8f;
  margin-left: 2%;
  float: left;
}

.day42
{
  width: 70%;
  height: 80%;
  margin: 2%;
  border-top-left-radius : 30px 40px;
  border-top-right-radius: 30px 40px;
  border-bottom-left-radius : 30px 40px;
  border-bottom-right-radius: 30px 40px;
  display: block;
}

.loupe
{
  width: 310px;
  padding-left: 55%;
}

.reload
{
  padding-top: 10%;
  padding-left: 50%;
  margin-bottom: 50%;
  width: 25px;
  height: 25px;
}

.close
{
  padding-top: 70%;
  padding-left: 50%;
  width: 25px;
  height: 25px;
}

.main
{
  width: 100px;
  height: 100px;
  margin-left: 25%;
}

.oeil
{
  border: solid 6px red;
  border-radius: 10px 10px 10px 10px;
  margin-top: 2%;
  width: 100px;
  height: 100px;
  margin-left: 25%;
}

.cluster
{
  
}
