#menu ul
{
  margin : 0;
  padding : 0;
  list-style-type : none;
  text-align : center;
}

#menu li
{
  padding : 0;
}

#menu li a
{
  display : block;
  width : 90px;
  color : black;
  padding : 5px;
}

ul ul
{display: none;}

li:hover ul.menu_type,
li li:hover ul.choix_sandwich
{display:block;}
