body
{
  width: 100%;
  height: 100%;
  background: url(background_site.jpg) fixed;
  background-size: cover;
}

table
{
   border-collapse: collapse;
}

table, th, td
{
   border: 1px solid black;
   text-align: center;
}

.tableau_produits_title
{
    font-size: 1.5em;
    font-weight:bold;
    width: 100%;
}

.tableau_produits
{
    font-size: 1em;
    width: 100%;
}

#menu
{
  width : 100%;
  height : 1.6em;
  font-size: 1.2em;
  padding : 0;
  background-color : #f4f9fd;
  list-style-type : none;
}

ul#menu li
{
  padding : 0 0.5em;
  line-height : 2em;
}

ul#menu li.bouton_gauche
{
  float : left;
}

ul#menu li.bouton_droite
{
  float : right;
}

ul#menu a
{
  color : black;
  text-decoration : none;
  padding : 0 0.5em;
  font :  0.8em "Trebuchet MS";
}

ul#menu a:hover
{
  text-decoration : underline;
}

ul#menu a img
{
  border : none;
  padding :  0 0.3em;
}

li.bouton_gauche
{
  float : left;
}

li.bouton_droite
{
  float : right;
}
