#menu ul
{
  margin : 0;
  padding : 0;
  list-style-type : none;
  text-align : center;
}

#menu li
{
  float : left;
  margin : auto;
  padding : 0;
  background-color : grey;
}

#menu li a
{
  display : block;
  width : 150px;
  color : black;
  padding : 5px;
}

#menu li a:hover
{

  color : orange;
}

#menu ul li ul
{
  display : none;
}

#menu ul li:hover ul
{
  display : block;
}

#menu li:hover ul li
{
  float : none;

}
