H1
{
  box-shadow: 6px 6px 6px black;
  border-radius: 10px;
  background: #069
}

.d42
{
  background-image: url("resources/day_of_the_42.png");
  border-radius: 10px;
  width: 900px;
  height: 220px;

}

.carre
{
  width: 200px;
  height: 100px;
  border-top-left-radius : 30px 40px;
  border-top-right-radius: 30px 40px;
  border-bottom-left-radius : 30px 40px;
  border-bottom-right-radius: 30px 40px;
  background:#069;
}
